# server
PEM_DIR=''
PROTOCOL='https://'
HOST='apostol.space'
PORT=3000
DATABASE_URL='postgresql://sandbox:inunzipo0w@localhost:5432/sandbox?schema=public'
UPLOADS_DOMAIN='http://apostol.space'
UPLOADS_DIR='uploads'

# credentials
PRISMA_MANAGEMENT_API_SECRET='123'
ADMIN_SECRET='123'
JWT_SECRET='123'
COOKIE_TOKEN_NAME='x-token'
SESSION_EXPIRED_AFTER='30d'

# app
PAGE_LANG='en'
PAGE_TITLE='sandbox'
