.root
  position relative
  display flex
  align-items center
  justify-content center
  height 100%
  width 100%
  perspective 150px
  transform-style preserve-3d
  overflow hidden
  touch-action none

.bg
  position absolute
  inset 0
  pointer-events none
  background radial-gradient(circle at 50% 45%, #ff3b6b 0%, #4d7cff 25%, transparent 50%)
  animation hueCycle 10s linear infinite, fadeOut 5s ease-in-out infinite

@keyframes hueCycle
  0%
    filter hue-rotate(0deg)
  50%
    filter hue-rotate(360deg)
  100%
    filter hue-rotate(0deg)

@keyframes fadeOut
  0%
    opacity .02
  100%
    opacity .01

.inner
  // pointer-events none
  min-height 200px
  min-width 200px
  backface-visibility hidden
  margin-top -100px

  max-height 30vw
  max-width 30vw
  transition transform .2s ease-out

  & > svg
    height 100%
    width 100%
    animation breath 3s ease-in-out infinite alternate

@keyframes breath {
  0% {
    transform scale(1)
  }
  20% {
    transform scale(1)
  }
  100% {
    transform scale(1.2)
  }
}
