.root
  display flex
  align-items center
  justify-content center
  height 100%
  width 100%
  perspective 150px
  transform-style preserve-3d
  overflow hidden
  touch-action none

.inner
  pointer-events none
  min-height 200px
  min-width 200px
  backface-visibility hidden

  max-height 30vw
  max-width 30vw
  transition transform .2s ease-out

  & > svg
    height 100%
    width 100%
    animation breath 3s ease-in-out infinite alternate

@keyframes breath {
  0% {
    transform scale(1)
  }
  20% {
    transform scale(1)
  }
  100% {
    transform scale(1.2)
  }
}
