@import '~theme'

.root
  display flex
  flex-direction column
  height calc(100 * var(--vh))
  overflow hidden

.content
  flex-grow 1
  overflow-y auto
  padding-top $headerHeight

.contentCentered
  display flex
  align-items center
  justify-content center

* strong
  text-shadow 0 0 1px var(--accent-color)
