@import '~theme'

.root
  width 300px
  max-width 100%

.form
  margin-top var(--indent-s)

.wrap
.header
.footer
  display flex
  align-items center
  justify-content space-between

.link
  text-decoration none

.footer
  margin-top var(--indent-s)

.submitButtons
  margin-top 0

.gap
  flex-grow 1
