.root
  z-index 1
  display flex
  align-items cente
  flex-shrink 0
  position relative
  min-height 46px
  padding 10px 0
  box-sizing border-box
  white-space nowrap
  overflow auto visible

.item
  & + &
    margin-left 3px

.gap
  flex-grow 1
  min-width 20px

.addons
  display flex
