@import '~theme'

.root
  position fixed
  top 0
  left 0
  z-index 10
  width 100%
  height $headerHeight
  display flex
  align-items flex-start
  margin 0
  background-color var(--decent-color-alpha-500)
  background-image linear-gradient(to bottom, var(--accent-color-alpha-50), transparent)
  box-shadow 0 0 0 3px var(--decent-color)
  backdrop-filter blur(50px)
  -webkit-backdrop-filter blur(50px)

.title
  display flex
  align-items center
  flex-grow 1
  min-width 0
  padding 0 var(--p-4)

  &:first-child
    padding-left 0
